<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
			rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
			crossorigin="anonymous">
			<link rel="stylesheet" href="/css/pageEntete.css">
			<link rel="stylesheet" href="/css/body.css">
<title>Liste des medicament</title>

</head>
<body>
	<header th:replace="~{/Page/entete::Entete}"></header>
	<main>
		<div class="container special">
			<div>
				<h2 class="h2Liste"><strong>Liste des medicament</strong></h2>
				<h4 class="Ajouter"><a th:href="@{/createMedicament}">Ajouter un nouveau medicament</a></h4>
			</div>
			
			<div class="table-responsive">
				<table class="table table-striped table-sm">
					<thead>
						<tr>
							<th>Nom</th>
							<th colspan="2">categorie</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${medicament.empty}">
							<td colspan="5">Aucun medicament en base de données</td>
						</tr>
						<tr th:each="medicament: ${medicament}">
							<td><span th:text="${medicament.nom_Med}"> Nom </span></td>
							<td><span th:text="${medicament.cate_Med}"> Prénom </span></td>
							<td>
								<button type="button" class="btn btn-info" data-bs-toggle="modal" th:attr="data-bs-target='#modalWindow' + ${medicament.id_Med}" >&#x270f</button>
							</td>
							<div class="modal" th:attr="id='modalWindow'+ ${medicament.id_Med}" aria-labelledby="modal essai" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title">Information medicament</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
										</div>
										<div class="modal-body">
											<p>Nom : <span th:text="${medicament.nom_Med}"></span></p>
											<p>Categorie : <span th:text="${medicament.cate_Med}"></span></p>
											<p>Prix med : <span th:text="${medicament.prix_Med}"></span></p>
											<p>Date de mise en service : <span th:text="${#dates.format(medicament.date_Service_Med, 'dd/MM/yyyy')}"></span></p>
											<p>Quantité en stock : <span th:text="${medicament.quantite_Med}"></span></p>
										</div>
										<div class="modal-footer">
											<a th:href="@{/updateMedicament/{id}(id=${medicament.id_Med})}"><button class="btn btn-info">Modifier</button></a>
											<a th:href="@{/deleteMedicament/{id}(id=${medicament.id_Med})}"><button class="btn btn-danger">Supprimer</button></a>
										</div>
									</div>
								</div>
							</div>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
</body>
</html>