<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="itf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="connexion.css">
        <title>Sparadrap</title>
    </head>
    <body>
    <p>Cliquez sur le bouton qui convient a votre situation.</p>
    <div class="open-btn">
      <button class="open-button" onclick="openForm()"><strong>Espace </strong></button>
      <button class="open-button" onclick="openForm()"><strong>Espace Patient</strong></button>
    </div>
    <div class="login-popup">
      <div class="form-popup" id="popupForm">
        <form action="/action_page.php" class="form-container">
          <h2>Veuillez vous connecter</h2>
          <label for="email">
            <strong>E-mail</strong>
          </label>
          <input type="text" id="email" placeholder="Votre Email" name="email" required />
          <label for="psw">
            <strong>Mot de passe</strong>
          </label>
          <input type="password" id="psw" placeholder="Votre Mot de passe" name="psw" required />
          <button type="submit" class="btn">Connecter</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
        </form>
      </div>
    </div>
    <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
    </script>
  </body>
</html>