.Ajouter a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-left: 33%;
  }
  .Ajouter a:hover{
    color: rgb(72, 132, 136,);
    text-decoration: underline;
  }
  .H{
    width: 100%;
  }
  .h2{
    margin-left: 43%;
  }
  .titre {
    font-size: 1.3rem;
    color: rgb(9, 83, 11);
  }
  .form-control{
    width: 300px;
  }
  .form{
    display: flex;
    justify-content: center;
  }
  .espaceForm{
    margin-right: 10px;
  }
  .btn:hover{
    background-color: rgb(95, 141, 95);
  }
  .btn-outline-success{
    margin: 15px 620px;
  }
  .table-responsive {
    margin: 0 30% ;
  }
  .titreNouveaux{
    margin-left: 30%;
  }
  .btn-primary{
    margin-left: 47%;
    margin-top: 1%;
  }
  .h2Liste{
    margin-left: 39%;
  }
  .h2{
    margin-left: 35%;
  }
 