.main{
    min-height: 100vh;
    padding-top: 5%;
}
.container {
    margin-top: 2%px;
}
.box-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
.btn-info{
    margin-left: 40%;
    margin-top: 1%;
}
#btn-ville{
    width: 30%;
    margin-left: 30%;
}
.col-sm-6{
    margin-left: 33%;
    margin-top: 3%;
}
#city {
    background-color: rgb(117, 169, 199);
}
#temps{
    background-color: rgb(35, 156, 226);
}
#humidity{
    background-color: rgb(65, 94, 111);
}
#wind{
    background-color: rgb(13, 60, 87);
}