* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
.dropdown {
  display: inline-block;
  justify-content: center;
  margin: 0 10%;
}
.logos {
  margin: 3px;
}
.btn:hover {
  background-color: rgb(42, 161, 155);
}
.btn-outline-primary{
  --bs-btn-color: rgb(9, 83, 11);
  --bs-btn-border-color: rgb(9, 83, 11);
  --bs-btn-active-bg: rgb(9, 83, 11);
}
body {
  background-size: cover;
  background-image: url(/image/fondAcceuil.jpg);
  padding-top: 0px;
}
.entete {
  background-color: rgb(255, 255, 255);
}
.Ajouter a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bolder;
  color: rgb(9, 83, 11);
  font-size: 2rem;
}