<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="itf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Sparadrap</title>
</head>
<body>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="#">Se connecter</a></li>
            <li class="nav-item"><a href="#">Votre pharmacie</a></li>
            <li class="nav-item"><a href="#">Offre du mois</a></li>
            <li class="nav-item"><a href="#">Actualites</a></li>
            <li class="nav-item"><a href="#">Conseil Sante</a></li>
            <li class="nav-item"><a href="#">Service en ligne</a></li>
        </ul>
    </nav>
    <img src="image/fond de page.jpg" alt="">
    <bouton class="Pharmacien" type="bouton">Espace pharmacien</bouton>
    <bouton class="Visiteur" type="bouton">Espace Visiteur</bouton>
    <p>
        Horaire d'ouverture <br>
        Lundi fermé <br>
        Mardi 9h-12h 14h-19h <br>
        Mercredi 9h-12h 14h-19h <br>
        Jeudi 9h-12h 14h-19h <br>
        Vendredi 9h-12h 14h-19h <br>
        samedi 9h-12h 14h-18h
    </p>
    <h2> Nous contacter</h2>
    <p>tel: 03.95.84.75.96</p>
    <p>fax: 03.95.84.12.35</p>
    <p>email: saparadrap.contacte@gmail.com</p>
    <h2> Nous trouver</h2>
    <h3> Adresse</h3>
    <p>58 Rue du Général Leclerc, 54670 Custines</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10513.631384742377!2d6.128000020980827!3d48.793194179951335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!
    3m3!1m2!1s0x4794bdd43d53bb8d%3A0x9bdd295d998f2bdb!2sPharmacie%20de%20la%20Mauch%C3%A8re!5e0!3m2!1sfr!2sfr!4v1701093023937!5m2!1sfr!2sfr" width="1500" height="450" 
    style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>