<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="itf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="connexion.css">
        <title>Connexion</title>
    </head>
    <body>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="acceuil.html">Acceuil</a></li>
                <li class="nav-item"><a href="#">Votre pharmacie</a></li>
                <li class="nav-item"><a href="#">Offre du mois</a></li>
                <li class="nav-item"><a href="#">Actualites</a></li>
                <li class="nav-item"><a href="#">Conseil Sante</a></li>
                <li class="nav-item"><a href="#">Service en ligne</a></li>
            </ul>
        </nav>
        <img class="baniere" src="image/fond de page.jpg" alt="">
        <h1 class="nom">Pharmacie Sparadrap</h1>
        <main>
            <p class="title-main">Choisissez votre profil</p>
            <div class="btn-choix">
            <button class="open-button" onclick="openForm()"><strong>👤 Patient</strong></button>
            <button class="open-button" onclick="openForm()"><strong>⚕ Pharmacien</strong></button>
            <HR class="hr" ALIGN=CENTER WIDTH="250">
            </div>
        </main>
        <img src="image/medicament-connexion.jpg" alt="">
    </body>
</html>