<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet" href="pageHomePharmacient.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Liste des Patients</title>
</head>
<body>
	<header>
        <NAV class="navbar fixed-top bg-body-tertiary">
            <img class="logos" src="image/logos sparadrap.jpg" alt="">
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liste</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="homePatient.html">Patient</a></li>
                        <li><a class="dropdown-item" href="#">Medecin</a></li>
                        <li><a class="dropdown-item" href="#">Medicament</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Achat</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Avec Ordonance</a></li>
                        <li><a class="dropdown-item" href="#">Sans Ordonance</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Historique</button>
            </div>
        </NAV>
    </header>
	<main class="mainPatient">
	<div class="containerSpecial">
		<h2 class="h2">Liste des Patients</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>IdPersonne</th>
						<th>idMut</th>
						<th>DateNaisPat</th>
						<th>NumSecuPat</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${patient.empty}">
						<td colspan="4">Aucun patient en base de données</td>
					</tr>
					<tr th:each="patient: ${patient}">
						<td><span th:text="${patient.id_Personne}"></span></td>
						<td><span th:text="${patient.id_Mut}"></span></td>
						<td><span th:text="${patient.date_Nais_Pat}"></span></td>
						<td><span th:text="${patient.num_Secu_Pat}"></span></td>
						<td>
							<a th:href="@{/updatePatient/{id}(id=${patient.id_Patient})}"><button class="btn btn-info">Modifier</button></a>
							<a th:href="@{/deletePatient/{id}(id=${patient.id_Patient})}"><button class="btn btn-danger">Supprimer</button></a>						
						</td>
					</tr>t
				</tbody>
			</table>
		</div>
		<h4><a th:href="@{/createPatient}">Ajouter un nouveau patient</a></h4>

	</div>
	</main>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="pageHomePharmacient.css">
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
    <title>page Patient</title>
</head>
<body>
    <header>
        <NAV class="navbar fixed-top bg-body-tertiary">
            <img class="logos" src="image/logos sparadrap.jpg" alt="">
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liste</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="homePatient.html">Patient</a></li>
                        <li><a class="dropdown-item" href="#">Medecin</a></li>
                        <li><a class="dropdown-item" href="#">Medicament</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Achat</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Avec Ordonance</a></li>
                        <li><a class="dropdown-item" href="#">Sans Ordonance</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Historique</button>
            </div>
        </NAV>
    </header>
    <main>
		<main class="mainPatient">
			<div class="containerSpecial">
				<h2 class="h2">Liste des Patients</h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>IdPersonne</th>
								<th>idMut</th>
								<th>DateNaisPat</th>
								<th>NumSecuPat</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${patient.empty}">
								<td colspan="4">Aucun patient en base de données</td>
							</tr>
							<tr th:each="patient: ${patient}">
								<td><span th:text="${patient.id_Personne}"></span></td>
								<td><span th:text="${patient.id_Mut}"></span></td>
								<td><span th:text="${patient.date_Nais_Pat}"></span></td>
								<td><span th:text="${patient.num_Secu_Pat}"></span></td>
								<td>
									<a th:href="@{/updatePatient/{id}(id=${patient.id_Patient})}"><button class="btn btn-info">Modifier</button></a>
									<a th:href="@{/deletePatient/{id}(id=${patient.id_Patient})}"><button class="btn btn-danger">Supprimer</button></a>						
								</td>
							</tr>t
						</tbody>
					</table>
				</div>
				<h4><a th:href="@{/createPatient}">Ajouter un nouveau patient</a></h4>
		
			</div>
			</main>
    </main>
    <script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>