    <header th:fragment ="entete" class="entete">
        <nav>
            <img class="logos" src="/image/logosSparadrap.jpg" alt="">
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liste</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Patient">Patient</a></li>
                        <li><a class="dropdown-item" href="/Medecin">Medecin</a></li>
                        <li><a class="dropdown-item" href="/Medicament">Medicament</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">Achat</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Avec Ordonance</a></li>
                        <li><a class="dropdown-item" href="#">Sans Ordonance</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Historique</button>
            </div>
        </nav>
    </header>